
/* font-family: 'Abel', sans-serif;
font-family: 'EB Garamond', serif; */

html{
    font-family: 'Abel', sans-serif;; font-size: 20px;
    font-weight: 300;
}

body {
    background-color: #ffffff

}

h1 {
    text-align: left;
    margin: 10px;
    
}

header {
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    padding: 20px; 
    padding-left: 50px;
    padding-right: 50px;
}

main {
    text-align: center
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
}

a:link{
    color: black;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: inherit;
}

.img { 
    padding: 5px;
    width: 600px;
}

.img:hover {
    filter: blur(30);
}

p {
    color:black;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 50px;
}

